*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.navbar{
    background-color: #040303;
    display: flex;
    /* align-items: center; */
    
}
.contain{
width: 80%;
margin: auto;
height: 30%;
padding-top: 7px;

}
.cont1{
  display: flex;
align-items:center; 
 justify-content:space-between; 
 
}
.logo img{
    /* padding-left: 50px; */
    margin-left :30px; ;
    width:40%;

}


ul {
    /* margin-bottom: 30px; */
    display: flex;
    flex-direction: row;
    justify-content:flex-end ;
    align-items: center;
}
li{
    padding-right: 5px;
}
.list1 ul li a {
text-transform:uppercase;
text-decoration:none ;
/* text-decoration: none; */
color: white;
}
.portfolio{
    background-color:rgb(222, 231, 230) ;
    text-align: center;
    display: flex;
    justify-content: center;
}
.item{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.port-item{
    width: 33.3%;

    padding-right: 20px;
    background-color: aquamarine;
}
.portfolio img{
    display: block;
   width: 100%;
   }